In [1]:
import pandas as pd
dataset=pd.read_csv("googleplaystore.csv")

In [2]:
len(dataset)

10841

In [6]:
dataset[dataset.isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [4]:
data_frame = pd.DataFrame(dataset)

In [5]:
 for column in data_frame:
    print(column)

App
Category
Rating
Reviews
Size
Installs
Type
Price
Content Rating
Genres
Last Updated
Current Ver
Android Ver

In [6]:
len(dataset.columns)

13

In [7]:
dataset.loc[dataset.iloc[[1:,-4].isnull().sum()]]

SyntaxError: invalid syntax (<ipython-input-7-154791cfd3d5>, line 1)

In [102]:
boolean=dataset.iloc[:,-1].isnull()
dataset[boolean]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11M,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2.1M,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [103]:
dataset.loc[boolean]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
4453,[substratum] Vacuum: P,PERSONALIZATION,4.4,230,11M,"1,000+",Paid,$1.49,Everyone,Personalization,"July 20, 2018",4.4,NaN
4490,Pi Dark [substratum],PERSONALIZATION,4.5,189,2.1M,"10,000+",Free,0,Everyone,Personalization,"March 27, 2018",1.1,NaN
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [104]:

bool_series = pd.isnull(dataset[0:13]) 
    
# filtering data 
# displaying data only with Gender = NaN 
dataset[bool_series]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
dataset.iloc[10472]

App               Life Made WI-Fi Touchscreen Photo Frame
Category                                              1.9
Rating                                                 19
Reviews                                              3.0M
Size                                               1,000+
Installs                                             Free
Type                                                    0
Price                                            Everyone
Content Rating                                        NaN
Genres                                  February 11, 2018
Last Updated                                       1.0.19
Current Ver                                    4.0 and up
Android Ver                                           NaN
Name: 10472, dtype: object

In [106]:
null_columns=dataset.columns[dataset.isnull().any()]
null_columns

Index(['Rating', 'Type', 'Content Rating', 'Current Ver', 'Android Ver'], dtype='object')

In [107]:
null_columns=null_columns.drop( 'Rating')
null_columns

Index(['Type', 'Content Rating', 'Current Ver', 'Android Ver'], dtype='object')

In [108]:
dataset.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [109]:
print(dataset[dataset.isnull().any(axis=1)][null_columns])

       Type Content Rating Current Ver Android Ver
15     Free       Everyone         NaN  4.2 and up
23     Free       Everyone       1.0.0  4.1 and up
113    Free   Everyone 10+         8.0  3.0 and up
123    Free       Everyone         1.3  4.1 and up
126    Free           Teen        1.15  4.1 and up
...     ...            ...         ...         ...
10824  Free       Everyone       2.2.2  4.4 and up
10825  Free           Teen         1.0  4.0 and up
10831  Free       Everyone   2.0.148.0  4.0 and up
10835  Free       Everyone       1.1.5  4.0 and up
10838  Free       Everyone         1.0  2.2 and up

[1481 rows x 4 columns]

In [110]:
dataset.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [111]:
boolean=dataset[:,[null_columns]

SyntaxError: unexpected EOF while parsing (<ipython-input-111-ea2362564c99>, line 1)

In [112]:
boolean_usa=dataset.iloc[:,-4].isnull()
dataset[boolean_usa]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [113]:
list1=[dataset["Genres"].value_counts().index]
print(list1)

[Index(['Tools', 'Entertainment', 'Education', 'Medical', 'Business',
       'Productivity', 'Sports', 'Personalization', 'Communication',
       'Lifestyle',
       ...
       'Music & Audio;Music & Video', 'Board;Pretend Play',
       'Communication;Creativity', 'Tools;Education', 'Trivia;Education',
       'Racing;Pretend Play', 'Travel & Local;Action & Adventure',
       'February 11, 2018', 'Comics;Creativity',
       'Books & Reference;Creativity'],
      dtype='object', length=120)]

In [114]:
dataset.iloc[((dataset["Genres"]=="February 11, 2018").values)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [115]:
dataset.loc[(dataset["Genres"]=="February 11, 2018")]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [116]:
list2=dataset["Genres"].unique()

In [117]:
len(list2)

120

##

In [118]:
list2[]

SyntaxError: invalid syntax (<ipython-input-118-3ad658c0d972>, line 1)

In [119]:
repeatative=dataset[dataset.duplicated("App")]

In [120]:
app_list=repeatative["App"].value_counts().index
app_list

Index(['ROBLOX', 'CBS Sports App - Scores, News, Stats & Watch Live', 'ESPN',
       'Duolingo: Learn Languages Free', 'Candy Crush Saga', '8 Ball Pool',
       'Sniper 3D Gun Shooter: Free Shooting Games - FPS', 'Helix Jump',
       'Bowmasters', 'Subway Surfers',
       ...
       'Chrome Dev', 'Chictopia',
       'Messages, Text and Video Chat for Messenger', 'Hot Wheels: Race Off',
       'Wattpad ðŸ“– Free Books', 'Iâ€™m Expecting - Pregnancy App',
       'Princess Coloring Book', 'Walmart', 'Android Messages',
       'Chat Kids - Chat Room For Kids'],
      dtype='object', length=798)

In [121]:
app=[]
app2=[]
app3=[]
for i in range(len(repeatative):
    if  repeatative[i][0] not in app:
               
               if repeatative[i][0] == app[i]:

SyntaxError: invalid syntax (<ipython-input-121-ae92e66b81bd>, line 4)

In [122]:
reviews={}
for i in dataset:
    if i[0] not in reviews:
        reviews[i[0]]=int(i[3])
    elif i[0] in reviews and int(i[3]) >reviews[i[0]]:
        reviews[i[0]]=int(i[3])

IndexError: string index out of range

In [124]:
(dataset["Genres"]=="February 11, 2018").values

array([False, False, False, ..., False, False, False])

In [125]:
import pandas as pd
4
my_crosstab = pd.crosstab(index=df1["State"], 
5
                            columns=df1["Product"],
6
                             margins=True)   # Include row and column totals
7
my_crosstab

Please Enter Any Character : y
The Given Character  y is an Alphabet

[]