In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df=pd.read_csv("Data Comparision(csv).csv")

In [76]:
df

,Old Record,Unnamed: 1,Unnamed: 2,Unnamed: 3,New Record,Unnamed: 5
0,Client Name,Balance,NaN,NaN,Client Name,Balance
1,ABDUR RAHMAN CORPORATION,"93,073",NaN,NaN,AB EXPORTS (PVT) LTD,"16,644"
2,AL HARAM ENTERPRISES,"879,466",NaN,NaN,ABDUR RAHMAN CORPORATION,"93,073"
3,AL MAKKAH EXPORTS,"938,307",NaN,NaN,AL HARAM ENTERPRISES,"879,466"
4,AL SHEIKH ENTERPRISES,"7,500",NaN,NaN,AL MAKKAH EXPORTS,"938,307"
5,ALLAH TAWAKAL TEXTILE,"1,828,863",NaN,NaN,AL SHEIKH ENTERPRISES,"7,500"
6,ASIATEX CORPORATION,"2,296,736",NaN,NaN,ALLAH TAWAKAL TEXTILE,"1,828,863"
7,ASK TEXTILE,"1,113,103",NaN,NaN,ARSA KNITWARE,"1,584,920"
8,BEACON IMPEX (PVT) LTD,"75,043",NaN,NaN,ARZOO TEXTILE MILLS LIMITED,"1,956,045"
9,CAROLINA FABRICS (PVT) LTD,"5,425,170",NaN,NaN,ASIATEX CORPORATION,"784,182"
10,COTTON EMPIRE PVT LTD,100,NaN,NaN,ASK TEXTILE,"1,113,103"
11,DECORA IMPEX,"1,489,000",NaN,NaN,BEACON IMPEX (PVT) LTD,"75,043"
12,DOCUMENT SOLUTION,"41,000",NaN,NaN,CAROLINA FABRICS (PVT) LTD,"5,425,170"
13,FACILITIES SHIPPING AGENCY,"2,000",NaN,NaN,COTTON EMPIRE PVT LTD,100
14,FALCON LOGISTICS,"8,468",NaN,NaN,DECORA IMPEX,"1,489,000"
15,HANZALA TRADERS,"261,900",NaN,NaN,DREAMTEX INDUSTRY,"946,501"
16,I & U AGENCIES,"207,810",NaN,NaN,FACILITIES SHIPPING AGENCY,"2,000"
17,IMPO-INTERNATIONAL,"76,950",NaN,NaN,FAISAL FABRICS LTD,"9,485"
18,KALIM TEXTILE,"393,996",NaN,NaN,FALCON LOGISTICS,"8,468"
19,MAHEEN TEXTILE MILLS (PVT) LTD,"67,085",NaN,NaN,GLOBELINK PAKISTAN PVT LTD,"67,156"
20,MANZA TEXTILE MILLS,"(3,180)",NaN,NaN,HANZALA TRADERS,"261,900"
21,MASOOD TEXTILE MILLS LTD,"142,709",NaN,NaN,HM TRADERS,"41,000"
22,MN CHEMICAL,"945,200",NaN,NaN,IMPO-INTERNATIONAL,"76,950"
23,NB INTERNATIONAL,"70,270",NaN,NaN,JAVED GLOVES PVT LTD,"3,031,445"
24,NISHAT MILLS LIMITED,"16,000",NaN,NaN,KALIM TEXTILE,"393,996"
25,PAKISTAN FIBRES,"6,461",NaN,NaN,KB ENTERPRISES,"27,310"
26,PAKISTAN INDUSTRIAL AIDS PVT LTD,"12,000",NaN,NaN,MAHEEN TEXTILE MILLS (PVT) LTD,"67,085"
27,ROOMI FABRICS LIMITED,"2,749,617",NaN,NaN,MASOOD TEXTILE MILLS LTD,"142,709"
28,ROOMI HOME PVT LTD,"1,373,758",NaN,NaN,MN CHEMICAL,"945,200"
29,SACHIN SPORTS INDUSTRIES,"6,500",NaN,NaN,NB INTERNATIONAL,"70,729"
30,SANI SHIPPING AND LOGISTICS,"83,130",NaN,NaN,NISHAT MILLS LIMITED (EXPORT),"16,000"
31,SERVICE INDUSTRIES LTD.,"1,461",NaN,NaN,PAKISTAN FIBRES,"6,461"
32,SNA TEXTILES (PVT) LTD,"14,671,256",NaN,NaN,PAKISTAN INDUSTRIAL AIDS PVT LTD,"12,000"
33,SULTANI ELASTO PRODUCTS PVT LTD,"14,514,719",NaN,NaN,ROOMI FABRICS LIMITED,"4,123,375"
34,SUN FIBER (PVT) LTD,"83,575",NaN,NaN,SACHIN SPORTS INDUSTRIES,"6,500"
35,SUPPLY CHAIN LOGISTICS SERVICES,"1,956,045",NaN,NaN,SAGAR HOISERY,"1,616,151"
36,TEHAMI INTERNATIONAL,"2,989,986",NaN,NaN,SANI SHIPPING AND LOGISTICS,"83,130"
37,UNICON INTERNATIONAL (PVT.) LTD,"670,726",NaN,NaN,SERVICE INDUSTRIES LTD.,"1,461"
38,UNLIMITED LOGISTICS,"4,147,572",NaN,NaN,SGS PAKISTAN (PVT) LTD,"207,810"
39,VISION TECHNOLOGIES CORPORATION (PR,"2,500",NaN,NaN,SNA TEXTILES (PVT) LTD (EXPORT),"14,687,456"
40,ZAHIDJEE TEXTILES MILLS LTD,"16,671",NaN,NaN,SULTANI ELASTO PRODUCTS PVT LTD (EXPORT),"14,514,719"
41,NaN,"59,662,546",NaN,NaN,SUN FIBER (PVT) LTD (EXPORT),"83,575"
42,NaN,NaN,NaN,NaN,UNICON INTERNATIONAL (PVT.) LTD,"670,726"
43,NaN,NaN,NaN,NaN,UNLIMITED LOGISTICS,"4,147,572"
44,NaN,NaN,NaN,NaN,VISION TECHNOLOGIES CORPORATION (PR,"2,500"
45,NaN,NaN,NaN,NaN,WATERLINK PAKISTAN (PVT) LTD,"38,430"
46,NaN,NaN,NaN,NaN,ZAHID JEE TEXTILE,"17,331"
47,NaN,NaN,NaN,NaN,ZAHIDJEE TEXTILES MILLS LTD,"16,671"
48,NaN,NaN,NaN,NaN,Total,"62,535,218"
49,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN

### creating a representable dataset

In [26]:
data=df.drop(columns=["Unnamed: 2","Unnamed: 3"])

In [37]:
col=data.iloc[:1,:].values.tolist()[0]

In [38]:
for i in range(len(cols)):
    if i<2:
        col[i]="old record:"+col[i]
    else:
         col[i]="new record:"+col[i]

In [40]:
data.columns=col

In [42]:
data=data.iloc[1:,:]

In [45]:
len(data["old record:Client Name"].unique())

41

In [ ]:
#new records are more than old record

In [48]:
len(data["new record:Client Name"].unique())

49

In [68]:
data

,old record:Client Name,old record:Balance,new record:Client Name,new record:Balance
1,ABDUR RAHMAN CORPORATION,"93,073",AB EXPORTS (PVT) LTD,"16,644"
2,AL HARAM ENTERPRISES,"879,466",ABDUR RAHMAN CORPORATION,"93,073"
3,AL MAKKAH EXPORTS,"938,307",AL HARAM ENTERPRISES,"879,466"
4,AL SHEIKH ENTERPRISES,"7,500",AL MAKKAH EXPORTS,"938,307"
5,ALLAH TAWAKAL TEXTILE,"1,828,863",AL SHEIKH ENTERPRISES,"7,500"
6,ASIATEX CORPORATION,"2,296,736",ALLAH TAWAKAL TEXTILE,"1,828,863"
7,ASK TEXTILE,"1,113,103",ARSA KNITWARE,"1,584,920"
8,BEACON IMPEX (PVT) LTD,"75,043",ARZOO TEXTILE MILLS LIMITED,"1,956,045"
9,CAROLINA FABRICS (PVT) LTD,"5,425,170",ASIATEX CORPORATION,"784,182"
10,COTTON EMPIRE PVT LTD,100,ASK TEXTILE,"1,113,103"
11,DECORA IMPEX,"1,489,000",BEACON IMPEX (PVT) LTD,"75,043"
12,DOCUMENT SOLUTION,"41,000",CAROLINA FABRICS (PVT) LTD,"5,425,170"
13,FACILITIES SHIPPING AGENCY,"2,000",COTTON EMPIRE PVT LTD,100
14,FALCON LOGISTICS,"8,468",DECORA IMPEX,"1,489,000"
15,HANZALA TRADERS,"261,900",DREAMTEX INDUSTRY,"946,501"
16,I & U AGENCIES,"207,810",FACILITIES SHIPPING AGENCY,"2,000"
17,IMPO-INTERNATIONAL,"76,950",FAISAL FABRICS LTD,"9,485"
18,KALIM TEXTILE,"393,996",FALCON LOGISTICS,"8,468"
19,MAHEEN TEXTILE MILLS (PVT) LTD,"67,085",GLOBELINK PAKISTAN PVT LTD,"67,156"
20,MANZA TEXTILE MILLS,"(3,180)",HANZALA TRADERS,"261,900"
21,MASOOD TEXTILE MILLS LTD,"142,709",HM TRADERS,"41,000"
22,MN CHEMICAL,"945,200",IMPO-INTERNATIONAL,"76,950"
23,NB INTERNATIONAL,"70,270",JAVED GLOVES PVT LTD,"3,031,445"
24,NISHAT MILLS LIMITED,"16,000",KALIM TEXTILE,"393,996"
25,PAKISTAN FIBRES,"6,461",KB ENTERPRISES,"27,310"
26,PAKISTAN INDUSTRIAL AIDS PVT LTD,"12,000",MAHEEN TEXTILE MILLS (PVT) LTD,"67,085"
27,ROOMI FABRICS LIMITED,"2,749,617",MASOOD TEXTILE MILLS LTD,"142,709"
28,ROOMI HOME PVT LTD,"1,373,758",MN CHEMICAL,"945,200"
29,SACHIN SPORTS INDUSTRIES,"6,500",NB INTERNATIONAL,"70,729"
30,SANI SHIPPING AND LOGISTICS,"83,130",NISHAT MILLS LIMITED (EXPORT),"16,000"
31,SERVICE INDUSTRIES LTD.,"1,461",PAKISTAN FIBRES,"6,461"
32,SNA TEXTILES (PVT) LTD,"14,671,256",PAKISTAN INDUSTRIAL AIDS PVT LTD,"12,000"
33,SULTANI ELASTO PRODUCTS PVT LTD,"14,514,719",ROOMI FABRICS LIMITED,"4,123,375"
34,SUN FIBER (PVT) LTD,"83,575",SACHIN SPORTS INDUSTRIES,"6,500"
35,SUPPLY CHAIN LOGISTICS SERVICES,"1,956,045",SAGAR HOISERY,"1,616,151"
36,TEHAMI INTERNATIONAL,"2,989,986",SANI SHIPPING AND LOGISTICS,"83,130"
37,UNICON INTERNATIONAL (PVT.) LTD,"670,726",SERVICE INDUSTRIES LTD.,"1,461"
38,UNLIMITED LOGISTICS,"4,147,572",SGS PAKISTAN (PVT) LTD,"207,810"
39,VISION TECHNOLOGIES CORPORATION (PR,"2,500",SNA TEXTILES (PVT) LTD (EXPORT),"14,687,456"
40,ZAHIDJEE TEXTILES MILLS LTD,"16,671",SULTANI ELASTO PRODUCTS PVT LTD (EXPORT),"14,514,719"
41,NaN,"59,662,546",SUN FIBER (PVT) LTD (EXPORT),"83,575"
42,NaN,NaN,UNICON INTERNATIONAL (PVT.) LTD,"670,726"
43,NaN,NaN,UNLIMITED LOGISTICS,"4,147,572"
44,NaN,NaN,VISION TECHNOLOGIES CORPORATION (PR,"2,500"
45,NaN,NaN,WATERLINK PAKISTAN (PVT) LTD,"38,430"
46,NaN,NaN,ZAHID JEE TEXTILE,"17,331"
47,NaN,NaN,ZAHIDJEE TEXTILES MILLS LTD,"16,671"
48,NaN,NaN,Total,"62,535,218"
49,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN

### checking for the similar records

In [55]:
old=data.iloc[:,:2]
old.columns=["Client Name","Balance"]

In [66]:
len(old["Client Name"].unique())

41

In [60]:
new=data.iloc[:,2:]
new.columns=["Client Name","Balance"]

In [67]:
len(new["Client Name"].unique())

49

#working with all same records

In [182]:
same_items=pd.merge(old,new,on="Client Name",how="inner")

In [183]:
same_items.dropna(inplace=True)

In [184]:
same_items

                            Client Name   Balance_x   Balance_y
0              ABDUR RAHMAN CORPORATION     93,073      93,073
1                  AL HARAM ENTERPRISES    879,466     879,466
2                     AL MAKKAH EXPORTS    938,307     938,307
3                 AL SHEIKH ENTERPRISES      7,500       7,500
4                 ALLAH TAWAKAL TEXTILE  1,828,863   1,828,863
5                   ASIATEX CORPORATION  2,296,736     784,182
6                           ASK TEXTILE  1,113,103   1,113,103
7                BEACON IMPEX (PVT) LTD     75,043      75,043
8            CAROLINA FABRICS (PVT) LTD  5,425,170   5,425,170
9                 COTTON EMPIRE PVT LTD        100         100
10                         DECORA IMPEX  1,489,000   1,489,000
11           FACILITIES SHIPPING AGENCY      2,000       2,000
12                     FALCON LOGISTICS      8,468       8,468
13                      HANZALA TRADERS    261,900     261,900
14                   IMPO-INTERNATIONAL     76,950      76,950
15                        KALIM TEXTILE    393,996     393,996
16       MAHEEN TEXTILE MILLS (PVT) LTD     67,085      67,085
17             MASOOD TEXTILE MILLS LTD    142,709     142,709
18                          MN CHEMICAL    945,200     945,200
19                     NB INTERNATIONAL     70,270      70,729
20                      PAKISTAN FIBRES      6,461       6,461
21     PAKISTAN INDUSTRIAL AIDS PVT LTD     12,000      12,000
22                ROOMI FABRICS LIMITED  2,749,617   4,123,375
23             SACHIN SPORTS INDUSTRIES      6,500       6,500
24          SANI SHIPPING AND LOGISTICS     83,130      83,130
25              SERVICE INDUSTRIES LTD.      1,461       1,461
26      UNICON INTERNATIONAL (PVT.) LTD    670,726     670,726
27                  UNLIMITED LOGISTICS  4,147,572   4,147,572
28  VISION TECHNOLOGIES CORPORATION (PR      2,500       2,500
29          ZAHIDJEE TEXTILES MILLS LTD     16,671      16,671

In [201]:
new_items=new.dropna()[:-1]

In [202]:
len(new_items)

47

In [156]:
old_items=old.dropna()

In [198]:
len(old_items)

40

#### same clients with slightly different names

In [189]:
same_clients=0
for i in old_items["Client Name"]:
    for j in new_items["Client Name"]:
        if i in j:
            same_clients+=1

In [90]:
same_clients

34

#### renaming

In [169]:
#checking client names

In [190]:
same_clients=0
list=[]
an_list=[]
for i in old_items["Client Name"]:
    for j in new_items["Client Name"]:
        if i in j:
            list.append(i)
            an_list.append(j)
            same_clients+=1

In [131]:
len(list)

34

In [223]:
for i,j in zip(an_list,list):
    temp=old_items[old_items["Client Name"]==j]
    temp["Client Name"]=i
    old_items[old_items["Client Name"]==j]=temp

In [224]:
same_items_rename=pd.merge(old_items,new_items,on="Client Name",how="inner")

In [225]:
same_items_rename

                                 Client Name    Balance_x    Balance_y
0                   ABDUR RAHMAN CORPORATION      93,073       93,073
1                       AL HARAM ENTERPRISES     879,466      879,466
2                          AL MAKKAH EXPORTS     938,307      938,307
3                      AL SHEIKH ENTERPRISES       7,500        7,500
4                      ALLAH TAWAKAL TEXTILE   1,828,863    1,828,863
5                        ASIATEX CORPORATION   2,296,736      784,182
6                                ASK TEXTILE   1,113,103    1,113,103
7                     BEACON IMPEX (PVT) LTD      75,043       75,043
8                 CAROLINA FABRICS (PVT) LTD   5,425,170    5,425,170
9                      COTTON EMPIRE PVT LTD         100          100
10                              DECORA IMPEX   1,489,000    1,489,000
11                FACILITIES SHIPPING AGENCY       2,000        2,000
12                          FALCON LOGISTICS       8,468        8,468
13                           HANZALA TRADERS     261,900      261,900
14                        IMPO-INTERNATIONAL      76,950       76,950
15                             KALIM TEXTILE     393,996      393,996
16            MAHEEN TEXTILE MILLS (PVT) LTD      67,085       67,085
17                  MASOOD TEXTILE MILLS LTD     142,709      142,709
18                               MN CHEMICAL     945,200      945,200
19                          NB INTERNATIONAL      70,270       70,729
20             NISHAT MILLS LIMITED (EXPORT)      16,000       16,000
21                           PAKISTAN FIBRES       6,461        6,461
22          PAKISTAN INDUSTRIAL AIDS PVT LTD      12,000       12,000
23                     ROOMI FABRICS LIMITED   2,749,617    4,123,375
24                  SACHIN SPORTS INDUSTRIES       6,500        6,500
25               SANI SHIPPING AND LOGISTICS      83,130       83,130
26                   SERVICE INDUSTRIES LTD.       1,461        1,461
27           SNA TEXTILES (PVT) LTD (EXPORT)  14,671,256   14,687,456
28  SULTANI ELASTO PRODUCTS PVT LTD (EXPORT)  14,514,719   14,514,719
29              SUN FIBER (PVT) LTD (EXPORT)      83,575       83,575
30           UNICON INTERNATIONAL (PVT.) LTD     670,726      670,726
31                       UNLIMITED LOGISTICS   4,147,572    4,147,572
32       VISION TECHNOLOGIES CORPORATION (PR       2,500        2,500
33               ZAHIDJEE TEXTILES MILLS LTD      16,671       16,671

In [226]:
df_diff = pd.concat([same_items_rename,same_items],axis=0)

#### items that needed a name change

In [227]:
df_diff.drop_duplicates(keep=False)

                                 Client Name    Balance_x    Balance_y
20             NISHAT MILLS LIMITED (EXPORT)      16,000       16,000
27           SNA TEXTILES (PVT) LTD (EXPORT)  14,671,256   14,687,456
28  SULTANI ELASTO PRODUCTS PVT LTD (EXPORT)  14,514,719   14,514,719
29              SUN FIBER (PVT) LTD (EXPORT)      83,575       83,575

### overall unique data

In [209]:
item_new=new_items.copy()
item_new["record type"]="New record"

In [210]:
item_old=old_items.copy()
item_old["record type"]="OLD record"

In [214]:
dup_data=pd.concat([item_old,item_new],axis=0)

### this is the table for items unique in both

In [215]:
dup_data.drop_duplicates(subset=dup_data.columns.difference(["record type"]),keep=False)

                        Client Name      Balance record type
6               ASIATEX CORPORATION   2,296,736   OLD record
12                DOCUMENT SOLUTION      41,000   OLD record
16                   I & U AGENCIES     207,810   OLD record
20              MANZA TEXTILE MILLS      (3,180)  OLD record
23                 NB INTERNATIONAL      70,270   OLD record
27            ROOMI FABRICS LIMITED   2,749,617   OLD record
28               ROOMI HOME PVT LTD   1,373,758   OLD record
32  SNA TEXTILES (PVT) LTD (EXPORT)  14,671,256   OLD record
35  SUPPLY CHAIN LOGISTICS SERVICES   1,956,045   OLD record
36             TEHAMI INTERNATIONAL   2,989,986   OLD record
1              AB EXPORTS (PVT) LTD      16,644   New record
7                     ARSA KNITWARE   1,584,920   New record
8       ARZOO TEXTILE MILLS LIMITED   1,956,045   New record
9               ASIATEX CORPORATION     784,182   New record
15                DREAMTEX INDUSTRY     946,501   New record
17               FAISAL FABRICS LTD       9,485   New record
19       GLOBELINK PAKISTAN PVT LTD      67,156   New record
21                       HM TRADERS      41,000   New record
23             JAVED GLOVES PVT LTD   3,031,445   New record
25                   KB ENTERPRISES      27,310   New record
29                 NB INTERNATIONAL      70,729   New record
33            ROOMI FABRICS LIMITED   4,123,375   New record
35                    SAGAR HOISERY   1,616,151   New record
38           SGS PAKISTAN (PVT) LTD     207,810   New record
39  SNA TEXTILES (PVT) LTD (EXPORT)  14,687,456   New record
45     WATERLINK PAKISTAN (PVT) LTD      38,430   New record
46                ZAHID JEE TEXTILE      17,331   New record